<!DOCTYPE html>
<html>
<head>
    <title>Vehicle List</title>
</head>
<body>
    <h2>Vehicle List</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.make }}</td>
                <td>{{ vehicle.model }}</td>
                <td>{{ vehicle.year }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
